.h1 {
  font-size: 60rpx;
  font-weight: bold;
}

.h2 {
  font-size: 48rpx;
  font-weight: bold;
}

.h3 {
  font-size: 40rpx;
  font-weight: bold;
}

.hr {
  height: 10rpx;
  width: 100%;
  background-color: #e6e6e6;
  margin-bottom: 10rpx;
}

.icon-image {
  margin: 0 12rpx 0 0;
}

.icon-image-small {
  width: 32rpx;
  height: 32rpx;
}
